

.animate__animated.animate__delay-03s {
    -webkit-animation-delay: calc(1s * 0.08);
    animation-delay: calc(1s * 0.08);
    -webkit-animation-delay: calc(var(--animate-delay) * 0.08);
    animation-delay: calc(var(--animate-delay) * 0.08);
}

.animate__animated.animate__delay-06s {
    -webkit-animation-delay: calc(1s * .1);
    animation-delay: calc(1s * .1);
    -webkit-animation-delay: calc(var(--animate-delay) * .1);
    animation-delay: calc(var(--animate-delay) * .1);
}

.animate__animated.animate__delay-09s {
    -webkit-animation-delay: calc(1s * .2);
    animation-delay: calc(1s * .2);
    -webkit-animation-delay: calc(var(--animate-delay) * .2);
    animation-delay: calc(var(--animate-delay) * .2);
}
.animate__animated.animate__delay-120s {
    -webkit-animation-delay: calc(1s * 0.3);
    animation-delay: calc(1s *0.3);
    -webkit-animation-delay: calc(var(--animate-delay) * 0.3);
    animation-delay: calc(var(--animate-delay) *0.3);
}
.animate__animated.animate__delay-150s {
    -webkit-animation-delay: calc(1s * .4);
    animation-delay: calc(1s *.4);
    -webkit-animation-delay: calc(var(--animate-delay) * .4);
    animation-delay: calc(var(--animate-delay) *.4);
}
.animate__animated.animate__delay-180s {
    -webkit-animation-delay: calc(1s * .5);
    animation-delay: calc(1s *.5);
    -webkit-animation-delay: calc(var(--animate-delay) * .5);
    animation-delay: calc(var(--animate-delay) *.5);
}


@-webkit-keyframes bounce{
    0%, 100% {
        transform: translateX(-25%);
        -webkit-animation-timing-function: cubic-bezier(.8,0,1,1);
        animation-timing-function: cubic-bezier(.8,0,1,1);
    }
    50% {
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0,0,.2,1);
        animation-timing-function: cubic-bezier(0,0,.2,1);
    }
}
@keyframes bounce {
    0%, 100% {
        transform: translateX(-25%);
        -webkit-animation-timing-function: cubic-bezier(.8,0,1,1);
        animation-timing-function: cubic-bezier(.8,0,1,1);
    }
    50% {
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0,0,.2,1);
        animation-timing-function: cubic-bezier(0,0,.2,1);
    }
}

@-webkit-keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%,
    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    87% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
    88% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    95% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%,
    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        //-webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        //transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
    87% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
    //30%,
    //50%,
    //70%,
    88% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    //40%,
    //60%,
    95% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
