@font-face {
    font-family: 'RobotoSlab-Black';
    font-style: normal;
    src: url('~/assets/css/front/Roboto_Slab/static/RobotoSlab-Black.ttf');
}
@font-face {
    font-family: 'RobotoSlab-Bold';
    font-style: normal;
    src: url('~/assets/css/front/Roboto_Slab/static/RobotoSlab-Bold.ttf');
}
@font-face {
    font-family: 'RobotoSlab-ExtraBold';
    font-style: normal;
    src: url('~/assets/css/front/Roboto_Slab/static/RobotoSlab-ExtraBold.ttf');
}
@font-face {
    font-family: 'RobotoSlab-ExtraLight';
    font-style: normal;
    src: url('~/assets/css/front/Roboto_Slab/static/RobotoSlab-ExtraLight.ttf');
}
@font-face {
    font-family: 'RobotoSlab-Light';
    font-style: normal;
    src: url('~/assets/css/front/Roboto_Slab/static/RobotoSlab-Light.ttf');
}
@font-face {
    font-family: 'RobotoSlab-Medium';
    font-style: normal;
    src: url('~/assets/css/front/Roboto_Slab/static/RobotoSlab-Medium.ttf');
}
@font-face {
    font-family: 'RobotoSlab-Regular';
    font-style: normal;
    src: url('~/assets/css/front/Roboto_Slab/static/RobotoSlab-Regular.ttf');
}
@font-face {
    font-family: 'RobotoSlab-SemiBold';
    font-style: normal;
    src: url('~/assets/css/front/Roboto_Slab/static/RobotoSlab-SemiBold.ttf');
}
@font-face {
    font-family: 'RobotoSlab-Thin';
    font-style: normal;
    src: url('~/assets/css/front/Roboto_Slab/static/RobotoSlab-Thin.ttf');
}
@font-face {
    font-family: 'SUPER-BOOM';
    font-style: normal;
    src: url('~/assets/css/front/Roboto_Slab/static/SUPER-BOOM.ttf');
}

